/* critical.css */

/* Базові стилі */
body {
    background-color: #f3f4f6; /* bg-gray-100 */
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* font-sans */
    line-height: 1.5; /* leading-normal */
    letter-spacing: 0em; /* tracking-normal */
}

/* Навігація */
nav {
    background-color: #3b82f6; /* bg-blue-500 */
    padding: 1rem; /* p-4 */
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li:not(:last-child) {
    margin-right: 1.5rem; /* space-x-6 */
}

nav a {
    color: #ffffff; /* text-white */
}

/* Основний контент */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 2rem; /* py-8 */
    padding-bottom: 2rem; /* py-8 */
}

h1 {
    font-size: 2.25rem; /* text-4xl */
    line-height: 2.5rem;
    font-weight: 700; /* font-bold */
    text-align: center;
    color: #2563eb; /* text-blue-600 */
    margin-bottom: 2rem; /* mb-8 */
}

.bg-white {
    background-color: #ffffff;
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1.5rem; /* p-6 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */
}

h2 {
    font-size: 1.5rem; /* text-2xl */
    line-height: 2rem;
    font-weight: 600; /* font-semibold */
    color: #1f2937; /* text-gray-800 */
    margin-bottom: 1rem; /* mb-4 */
    background-color: #5aa6cc;
    color: #ffffff;
    padding: 5px;
}

p {
    color: #4b5563; /* text-gray-600 */
    margin-bottom: 1rem; /* mb-4 */
}

a {
    color: #3b82f6; /* text-blue-500 */
}

a:hover {
    text-decoration: underline;
}

/* Зображення */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

img {
    width: 12rem; /* w-48 */
    height: 12rem; /* h-48 */
    border-radius: 9999px; /* rounded-full */
    object-fit: cover;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
}